<section>
  <h2>Create New Post</h2>
<div class="new-post-form-container">
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="new-post-content">
      <label for="post_content">Content</label>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="post-btn">Post</button>
  </form>
  </div>
</section>

<section class="container" id="post-container">
  {{#if posts.length}}
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/js/dashboard.js"></script>